/* styles.css */
 
/* Gradient button background */
/* .button-gradient {
    background: linear-gradient(to right, #FFD700, #FFA500);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background- 0.3s ease-in-out;
  }
  .button-gradient:hover {
    background: linear-gradient(to right, #FFA500, #FFD700);
  }  */
  .button-gradient {
    background: linear-gradient(to right, #627f97, #06518f); /* Blue gradient */
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  /* Hover effect with a brighter blue gradient */
  .button-gradient:hover {
    background: linear-gradient(to right, #44575f, #03A9F4); /* Brighter blue gradient */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Enhanced shadow on hover */
  }
  
  .card__one {
    transition: transform .5s;
  
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
      content: '';
      opacity: 0;
      z-index: -1;
    }
  
    &:hover,
    &:focus {
      transform: scale3d(1.006, 1.006, 1);
  
      &::after {
        opacity: 1;
      }
    }
  }
  /* contact-us-container {
    margin-top: 50px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  Button {
    background-color: #a77b28;
    border: none;
    &:hover {
      background-color: #218838;
    }
  } */
  .center-link {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 10px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
}
.nav-link-custom {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}


.nav-link-custom:hover {
  background-color: #080707; /* Change the background color on hover */
  border-radius: 5px; /* Add rounded corners for a subtle effect */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}
.nav-link-hover {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav-link-hover:hover {
  background-color: #080707; /* Change the background color on hover */
  border-radius: 5px; /* Add rounded corners for a subtle effect */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}
/* .loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
/* Add these styles for the animated search bar */
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.search-bar {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  padding-right: 40px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar:focus {
  border-color: #627f97;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color 0.3s;
}

.search-icon:hover {
  color: #627f97;
}
#navbarDropdownMenuAvatar::after {
  display: none !important;
}


